/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* Header */
.site-branding {
    margin: 60px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    .logo {
        width: 360px;
    }
}

/* Front Page */
.site-main {
    margin: 0 10px;
    .entry-content {
        margin-top: 50px;
    }
}

p {
    color: #ffffff;
}

a {
    color: #00cc00;
    text-decoration: none;
    &:hover {
        border-color: #009600;
        color: #009600;
    }
}

#link {
    color: #00cc00;
    text-decoration: none;
    &:hover {
        border-color: #009600;
        color: #009600;
    }
}

.posts-navigation {
    display: none;
}

.new-quote {
    background-color: #222222;
    border: 2px solid #00cc00;
    border-radius: 3px;
    color: #00cc00;
    padding: .75rem 2.25rem;
    outline: none;
    &:hover {
        border-color: #009600;
        color: #009600;
    }
}


/* All Archives Page */
.authors, .categories, .tags {
    & .items {
        width: 100vw;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    h2{
        padding-top: 50px;
    }

    p, .tag-cloud-link, .cat-item {
        margin: 10px 12px;
        margin-left: 0;
        font-size: 1.25rem;
    }
 }


 /* Categories Page */
.category-post {
    border-top: 1px dotted #ffffff;
    padding: 10px 0;
    font-size: 1.2rem;
 }

 .categories-page{
    &:last-child {
        border-bottom: 1px dotted #ffffff;
    }
 }


/* Submit a Quote Page */
.entry-content {
    .submit-quote {
        background-color: #222222;
        border: 2px solid #00cc00;
        border-radius: 3px;
        color: #00cc00;
        padding: .75rem 2.25rem;
        outline: none;
        &:hover {
            border-color: #009600;
            color: #009600;
        }
    }
}

/* Footer */
footer {
    margin: 20px auto;
}

.menu {
    margin: 40px 10px 10px 10px;
    display: flex;
    justify-content: flex-start;
    
    ul {
        width: 80%;
        display: flex;

        li {
            border-right: 1px solid #ffffff;
            padding: 0 1rem;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                border: none;
            }
        }
    }
}

.footer-branding {
    margin: 10px;
    color: #ffffff;
}